bokeh
celery
cvxopt
cvxpy
Django
memory-profiler
mpld3
numpy
pandas
pandas-datareader
matplotlib
numpy
pathlib2
scikit-learn
scipy
sklearn
django-extensions
Sphinx
pytz
django-celery-results
djangorestframework
markdown
django-filter
jinja2
pymongo
django-multiselectfield




#git clone git://repo.or.cz/docutils.git