<html>
  <head>
    <title>{% block title %}Default title{% end %}</title>
  </head>
  <body>
    <ul>
       {% for item in items %}
          <li>{{ escape(item) }}</li>
      {% end %}
    </ul>

<form action="/action_page.php">
  <table>
  	<tr>
  		<td><input type="submit" value="Move left"> </td>
  		<td>Move by (days):<br>  <input type="number" name="moveby" value="5"> </td>
  		<td><input type="submit" value="Move right"> </td>
  	</tr>
  	<tr>
  		<td></td>
  		<td><input type="submit" value="Quit"> </td>
  		<td></td>
  	</tr>
  </table>
</form> 

  </body>
</html>


