{% extends "homepage/base.html" %} 

{% block tabtitle %}  Home Page {% endblock%}

{% block title %}Home Page{% endblock %}

<blockquote>
    <p>The real names of our people were destroyed during slavery. </p>
    <footer><a href="http://en.wikipedia.org/wiki/Malcolm_X">Malcolm X</a></footer>
</blockquote>


{% block pagetitle %} Home page {% endblock %}

{% block pagemain %} 

<!-- {% if watchform.is_authenticated %}
    <p>Welcome, {{ watchform.get_username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %} -->




{% endblock %}

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}