{% extends "homepage/base.html" %} 

{% block tabtitle %}  View List Modify  {% endblock%}

{% block title %}Watch List Modify {% endblock %}


{% block pagetitle %} Watch List View {% endblock %}

{% block pagemain %} 

{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}.</p>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'homepage:login' %}">log in</a></p>
{% endif %}

<p>
<font color="red">{{error|default_if_none:""}}</font>
</p>


<h2> View Watch List </h2>
  <form action="{% url 'stockdata:viewwatchlist' %}" method="post">
      {% csrf_token %}
      {{ watchformview.errors }}
      
      <p>

      {% comment "Optional note" %}
      
        <table class="table table-striped">
        {{ watchformview.as_table  }}
        </table>
      
      {% endcomment %}

      {{ watchformview.watchlist.errors}}
      <table class="table table-striped">
      <tr>
        <td>{{watchformview.watchlist.label_tag}}</td>  <td> {{watchformview.watchlist}} </td>
      </tr>
      </table>

      <table >
      {% for ss in watchformview.symbs  %}
        <tr><td> {{ss}} </th></tr>     
      {% endfor %}
      </table>
      </p>
       <p align="center"> <input type="submit" class="btn" name="watch_view" value="View Watchlist" /> </p>
  </form>


<br>


{% endblock %}

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}