{% extends "homepage/base.html" %} 

{% block tabtitle %}  Watch List Create  {% endblock%}

{% block title %}Watch List Create {% endblock %}


{% block pagetitle %} Watch List Create {% endblock %}

{% block pagemain %} 

{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }} .</p>
{% else %}
    <p>Welcome, new user. Please <a href="{% url 'homepage:login' %}">log in</a></p>
{% endif %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red" size="4">{{ message }}</font></li>
    {% endfor %}
</ul>

{% endif %}

<h2> Create New Watch List </h2>
  <form action="{% url 'stockdata:watchlistmanager_create' %}" method="post">
      {% csrf_token %}
      {{ createwatchlistform.errors }}
      <table class="table table-striped">
        {{ createwatchlistform.as_table  }}
      </table>
      <p align="center"> <input type="submit" class="btn" name="watch_create" value="Create Watchlist" /> </p>
  </form>




<br>


{% endblock %}

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}