{% if context.includes %}
    

    {% for key,value in context.includes.items() %}
      <!-- {{ key }} -->
      {% for link in value %}
        {{ link }}
      {% endfor %}      
    {% endfor %}

  {% endif %}  


<div id="{{context.chart_id}}" style="height: {{context.height}};"></div>

<script type="text/javascript">
chart= new Morris.Donut({
  element: "{{context.chart_id}}",
  resize: true,
	{% if data.data_format == 'embed' %}
	data:	{{ data.data_embed.plotdata|to_pretty_json }},
	{% endif %}
});

</script>

