{% extends "homepage/base.html" %} 

{% block tabtitle %}  Control Panel {% endblock%}

{% block title %}Control Panel{% endblock %}



{% block pagetitle %} Controller page {% endblock %}

{% block pagemain %} 

{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}.</p>
{% else %}
    <!-- <p>Welcome, new user. Please <a href="{% url 'homepage:login' %}">log in</a></p> -->
    <a href="{% url 'homepage:login' %}?next={{request.path}}">Login to personalize</a>
{% endif %}


<p>
<font color="red">{{error|default_if_none:""}}</font>
</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red" size="4">{{ message }}</font></li>
    {% endfor %}
</ul>

{% endif %}




<h2>Celery Log</h2>
{{celerylog}}
<br>
<hr>
<br>

<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Run Seq 1 </h2>
    <table class="table table-striped">
      <tr><td><input type="submit" class="btn" name="Run_Seq_1" value="Run_Seq_1" /> </td></tr>
    </table>
</form>


<br>
<hr>
<br>


<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Run seq 2 </h2>
    <table class="table table-striped">
      <tr><td><input type="submit" class="btn" name="Run_Seq_2" value="Run_Seq_2" /> </td></tr>
    </table>
</form>


<br>
<hr>
<br>

<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Run seq 3 </h2>
    <table class="table table-striped">
      <tr><td><input type="submit" class="btn" name="Run_Seq_3" value="Run_Seq_3" /> </td></tr>
    </table>
</form>


<br>
<hr>
<br>


<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Load Stock Groups </h2>
    <table class="table table-striped">
      <tr><td><input type="submit" class="btn" name="load_stock_groups" value="Load StockGroups" /> </td></tr>
    </table>
</form>

<br>
<hr>
<br>

<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Update Watchlists </h2>
    <table class="table table-striped">
      <tr><td><input type="submit" class="btn" name="watch_update_stock" value="Update Watchlists" /> </td></tr>
    </table>
</form>


<br>
<hr>
<br>

<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Basic Initialization </h2>
    <table class="table table-striped">
        <tr><td><input type="submit" class="btn" name="basic_initialize" value="Basic Initialization" /> </td></tr>
    </table>
</form>


<br>
<hr>
<br>


<form action="{% url 'stockdata:controlpanel' %}" method="post">
    {% csrf_token %}
    <h2> Update Stock Data </h2>
    <table class="table table-striped">
    {{updatestockform.as_table}}  
    </table>
    <input type="submit" class="btn" name="update_stock_data" value="Update Stock Data" />
</form>


{% endblock %}

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}