{% extends "homepage/base.html" %} 
{% load staticfiles %}

{% block tabtitle %}  Query Tool {% endblock%}

{% block head %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script> -->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="{% static 'research/jquery_chained/jquery.chained.js' %}" type="text/javascript" charset="utf-8"></script>


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet"  href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <link rel="stylesheet" href="{% static 'research/tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />
  <script type="text/javascript" src="{% static 'research/tablesorter/jquery.tablesorter.js' %}"></script> 

<!-- <script type="text/javascript">
			$(function() {
			$("img.lazy").lazyload({failure_limit : 10});
		});
</script> -->

<script type="text/javascript">
function formsubmitreturn(formid,geturl,returndivid){
  $(formid).submit(function() { // catch the form's submit event
    $.ajax({ // create an AJAX call...
        data: $(this).serialize(), // get the form data
        type: $(this).attr('GET'), // GET or POST
        url: $(this).attr(geturl), // the file to call
        success: function(response) { // on success..
            $(returndivid).html(response); // update the DIV
        }
    });
    return false; // cancel original event to prevent form submitting
}
});
}
</script>

{% endblock %}

{% block title %}Home Page{% endblock %}

{% block pagetitle %} Home page {% endblock %}

{% block pagemain %} 

<script type="text/javascript">
{% for SQview in SQVIEW  %}	
	$(function() {
    		$("img.lazy").lazyload({ event: "scrollstop",failure_limit : 1000,container: $("#container{{forloop.counter0}}")});
  		});

{% endfor %}
</script>

<h1>DashBoard</h1>

<div style="margin: 0 auto;width: 90%;">	
<form id="savedqueriesform" onsubmit="" onload="" name="queryform_{{SQview.pk}}" action="{% url 'homepage:home' %}" method="get" style="text-align: center;margin: 0 auto;">

{% for SQview in SQVIEW  %}
	

	<table>
		<tr>
			<td>
				<h2 style="font-family: 'Ultra', sans-serif; font-weight: normal;margin: 1em 0 0.5em 0;">{{SQview.name}} </h2>
				<h3> date: {{SQview.date}}</h3>
				<div id="container{{forloop.counter0}}" style="border-radius: 25px; box-shadow: 10px 10px 5px #888888;background: #d6e0f5;padding: 20px;margin: 0 auto; white-space: nowrap;">
					
						<table>
							<tr><td>
								<table>
									<tr>
										{% for chrtname,chart in SQview.SummaryCharts.items %}
											{% if 'Industry' not in chrtname %}
											<td style="border-left: 1px solid #cdd0d4;">
												<h6>{{chrtname}}</h6>
												{{chart}}
											</td>
											{% endif %}
										{% endfor %}
									</tr>
								</table>
							</td></tr>
							<tr><td>
								<table>
									<tr>
								{% for chrtname,chart in SQview.SummaryCharts.items %}
									{% if 'Industry' in chrtname %}
									<td valign="top" style="border-left: 1px solid ">
										<h6>{{chrtname}}</h6>
										{{chart}}
									</td>
									{% endif %}
								{% endfor %}
									</tr>
								</table>
							</td></tr>
						</table>
						<table>
								<div id="tableofcharts_{{SQview.pk}}">
								{% for rows in SQview.Table  %}
									<tr>
									{% for img in rows  %}
										<td valign="top">{{img}}</td>
									{%endfor%}
									</tr>

								{% endfor %}
								</div>
						</table>
						<p>
						    <div class="pagination">
							    <span class="step-links">
							        {% if SQview.pages.has_previous %}
							        <input class="btn" value="previous" style="width:100px;" onclick="prevpage('pageno_{{forloop.counter0}}','#savedqueriesform',{{SQview.pages.previous_page_number}})" /> 
							            
							        {% endif %}

							        <span class="current">
							            Page {{ SQview.pages.number }} of {{ SQview.pages.paginator.num_pages }}.
							        </span>

							        {% if SQview.pages.has_next %}
									<input class="btn" value="next" style="width:100px;" onclick="nextpage('pageno_{{forloop.counter0}}','#savedqueriesform',{{SQview.pages.next_page_number}})" /> 

							        {% endif %}
							    </span>
							</div> 
						</p> 
						<input type="text" name="SQpk_{{forloop.counter0}}" value="{{SQview.pk}}">
						<input type="text" name="SQname_{{forloop.counter0}}" value="{{SQview.name}}">
						<input id="pageno_{{forloop.counter0}}" name="pageno_{{forloop.counter0}}" type="number" value="{{SQview.pageno}}"/>
				</div>
			</td>
		</tr>
	</table>

	






{% endfor %}
	
</form>
</div>	



<script type="text/javascript">
  function prevpage(pagenoid,formid,nextpageno){
 	document.getElementById(pagenoid).value=nextpageno;
 	$(formid).submit();
  }

  function nextpage(pagenoid,formid,nextpageno){
 	document.getElementById(pagenoid).value=nextpageno;
  	$(formid).submit();
  }
</script>


  <form id="ABCDEFGHAA_form" action="" method="post">
    <div id="ABCDEFGHAA_disp"></div>
    <p align="center"> <input type="hidden" onclick="formsubmitreturn('ABCDEFGHAA_form','okurl','ABCDEFGHAA_disp')" class="btn" name="tag_submit" value="Submit Category" /> </p>
  </form>


{% endblock %}




{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}
