{% extends "homepage/base.html" %} 
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block tabtitle %}  Query Tool {% endblock%}

{% block head %}

      <script src="{% static 'research/RedQueryBuilder/RedQueryBuilder.nocache.js' %}" type="text/javascript">//</script>
      <link rel="stylesheet" href="{% static 'research/RedQueryBuilder/gwt/dark/dark.css' %}" type="text/css" />
      <script src="{% static 'research/RedQueryBuilder/RedQueryBuilderFactory.nocache.js' %}" type="text/javascript">//</script>
     
      <meta charset="utf-8">
  <title>jQuery UI Sortable - Connect lists</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--script src="http://code.jquery.com/jquery-1.10.2.js"></script -->
  <!-- script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script -->

  <link rel="stylesheet"  href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  
  <link rel="stylesheet" href="{% static 'research/tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />
  <!-- script type="text/javascript" src="{% static 'research/tablesorter/jquery-latest.js' %}"></script --> 
  <script type="text/javascript" src="{% static 'research/tablesorter/jquery.tablesorter.js' %}"></script> 


<script type="text/javascript">
function submittagfunc(pp_id,dispdiv_id) {
  // alert($( "#"+pp_id ).serialize());
  $.post( "{% url 'research:tagsubmit' %}", $( "#"+pp_id ).serialize(),function( data ) {
    $( "#"+dispdiv_id ).html( data );
  });
  // alert("ok2");
}
</script>

{% endblock %}


{% block title %}Query Tool{% endblock %}







{% block pagetitle %} Query Tool {% endblock %}

{% block pagemain %} 

{% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}.</p>
{% else %}
    <!-- <p>Welcome, new user. Please <a href="{% url 'homepage:login' %}">log in</a></p> -->
    <a href="{% url 'homepage:login' %}?next={{request.path}}">Login to personalize</a>
{% endif %}



<!-- <script type="text/javascript">
  
{% autoescape off %}
    RedQueryBuilderFactory.create(
    {
        meta : {{RQ.meta}} ,
      

      onSqlChange : {{RQ.onSqlChange}} ,

      enumerate : {{RQ.enumerate}} ,
      
      editors : {{RQ.editors}}

     });
      

{% endautoescape %}
</script>
 -->

    

    
    <form  onsubmit="resetformurl('queryform')" name="queryform" action="{% url 'research:windowquerytool' %}" method="get">
      
    <br>
     
    <h2>Select the Window and dates to search in </h2>
    <font size="4" color="red">
     {{ WindowQueryForm.errors }} 
     {{ WindowQueryForm.non_field_errors }}
    </font>
    {% csrf_token %}
    <!-- type="hidden" style="display:none;" -->
    <table>
      <tr><td>{{WindowQueryForm.watchlist.label}}</td> <td> {{WindowQueryForm.watchlist}}</td></tr> 
      <tr><td>and/or Enter Symbols </td> <td> {{WindowQueryForm.symbol}}</td></tr>   
      <tr><td>{{WindowQueryForm.window.label}} </td> <td> {{WindowQueryForm.window}}</td></tr>  
      <tr><td>{{WindowQueryForm.Interval.label}} </td> <td> {{WindowQueryForm.Interval}}</td></tr> 
      <tr><td>Select T range(date) </td> <td> <table> <tr> <td>To :</td> <td>{{WindowQueryForm.T}}</td> </tr> <tr> <td>From :</td> <td>{{WindowQueryForm.T0}} </td></tr></table>    </td></tr> 
    </table>


    <br>

    <h2>Construct a filter based on features</h2>
    <!-- <div id="rqb"> </div> -->
   <p> Select a Property and construct a filter or add it to the list of columns to display </p>
    <table>
      <tr>
          <td>
                <table>
                  <tr><td> {{WindowQueryForm.TFeatures.label}} </td> <td>{{WindowQueryForm.TFeatures}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_volume.label}} </td> <td>{{WindowQueryForm.feature_volume}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_perf.label}} </td> <td>{{WindowQueryForm.feature_perf}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_price.label}} </td> <td>{{WindowQueryForm.feature_price}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_sma.label}} </td> <td>{{WindowQueryForm.feature_sma}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_trend.label}} </td> <td>{{WindowQueryForm.feature_trend}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_channel.label}} </td> <td>{{WindowQueryForm.feature_channel}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_pattcorr.label}} </td> <td>{{WindowQueryForm.feature_pattcorr}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_cndlpatt.label}} </td> <td>{{WindowQueryForm.feature_cndlpatt}}</td></tr>
                  <tr><td> {{WindowQueryForm.feature_linearpatt.label}} </td> <td>{{WindowQueryForm.feature_linearpatt}}</td></tr>
                  <tr> <td>{{WindowQueryForm.Charts.label}} {{WindowQueryForm.Charts}}</td> <td> {{WindowQueryForm.chartstyle.label}} {{WindowQueryForm.chartstyle}}</td> </tr>
                </table>
          </td>

          <td> 
                <table>
                  <tr><td>{{WindowQueryForm.loadSQLquery.label}} {{WindowQueryForm.loadSQLquery}}  <input type="submit" class="btn" name="load_query" value="Load Query" /> </td></tr>
                  <tr> <td> <hr> </td></tr>
                  <tr> <td>or construct a new one </td></tr>
                  <tr><td>{{WindowQueryForm.feature_operations}}<input type="number" id="filter_value" step="0.5" style="width: 80px;"> <button type="button" id="addfilter" onclick="Add2textbox('SQLquery','\n','filter_value')">Add filter</button> </td></tr>
                  <tr><td>{{WindowQueryForm.SQLquery}} </td></tr>
                  <tr><td> <button type="button" id="delfilter" onclick="DelLastColm('SQLquery','\n')">Delete Last filter</button> </td></tr>
                  <tr><td>{{WindowQueryForm.saveSQLquery.label}} {{WindowQueryForm.saveSQLquery}} <input type="submit" class="btn" name="save_query" value="Save Query" /></td></tr>
                </table>
          </td>
      </tr>
      <tr>
          <td colspan="2">
  
            <p align="left">{{WindowQueryForm.columns}}</p>
            <p align="left"> <button type="button" id="addcolumn" onclick="Add2textbox('columns',' | ','None')">Add Column </button> <button type="button" id="delcol" onclick="DelLastColm('columns',' | ')">Delete Last Column</button></p>

          </td>

      </tr>
    <table>

    


    <p align="center"> <input type="submit" class="btnreset" name="query_reset" value="Reset Query" /> <input type="submit" class="btn" name="query_submit" value="Submit Query" /> </p>








    {% if WindowQueryForm.SummaryCharts == None %}

    {% else %}
    <p align="center">
    <table>
      {% for PP in  WindowQueryForm.SummaryCharts %}
        <tr> 
        {% for pp in PP %}
          <td> {{pp}} </td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
    </p>
    {% endif %}
    

{% if WindowQueryForm.table == None %}
    Submit Query to see Table
{% else %}
    <!-- <  JUST A DUMMY FORM TO MAKE THE submittagfunc work PROPOERLY> -->
    <form id="ABCDEFGHAA_form" action="" method="post">
        <div id="ABCDEFGHAA_disp"></div>
        <p align="center"> <input type="hidden" onclick="submittagfunc('ABCDEFGHAA_form','ABCDEFGHAA_disp')" class="btn" name="tag_submit" value="Submit Category" /> </p>
    </form>
    {% render_table WindowQueryForm.table %}
{% endif %}

    </form>





<script type="text/javascript">


function resetformurl(formname){
  if (document.forms[formname].getElementsByTagName("query_reset")=="Reset Query"){
    var url=document.location.href;
    var urlparts= url.split('?');
    window.history.pushState('',document.title,urlparts[0]);
}
}


$(document).ready(function() 
    { 
        $("#myTable").tablesorter(); 
    } 
); 
  $(document).ready(function() 
    { 
        $("#QTable").tablesorter(); 
    } 
); 
</script>
    

 <script type="text/javascript">

// 'name':'SQLquery', 'id': 'debug'
function myFunction(p){
  var Q=p.elements["SQLquery"].value;
  var ss=Q.split("WHERE");
  ss=ss[ss.length-1].split("\n");

  var i;
  var j;
  var args=[];
  for (i = 0; i < ss.length; i++) { 
    if( ss[i].includes("arg")){
      for(j=ss[i].length-1;j>=0;j--){
        if (ss[i][j]=='='){
          args.push( ss[i].slice(j+1) );
          break;
        }
      } 

    }
  }


  var QQ='';
  for(j=0;j<ss[0].length;j++){
    if (ss[0][j]=='?'){
      QQ=QQ+args.shift();
    }
    else{
      QQ=QQ+ss[0][j];
    }

  }

  QQ=QQ.split('"x0".').join('');
  QQ=QQ.split('"x1".').join('');
  QQ=QQ.split('"x2".').join('');
  alert(QQ);

}

 function Add2Colms(id) {
  // document.getElementById("columns").innerHTML=ss;
  var x = document.getElementById(id).selectedIndex
  var e = document.getElementById(id);
  var ss = e.options[e.selectedIndex].text;
  document.getElementById(id).selectedIndex = "0";

  var cols = document.getElementById("columns").innerHTML.split(" | ");
  var i,cols2=[];

  // alert(cols);
  for (i = 0; i < cols.length; i++) {
    // alert("#"+cols[i]+"#");
      if(cols[i]!='' && cols[i]!=' ' && cols[i]!='  ' && cols[i]!='   '){
      cols2.push(cols[i]);
    }
  }
  // alert(cols2);
  // alert(cols2.length);
  cols2[cols2.length]=ss;
  document.getElementById("columns").innerHTML=cols2.join(" | ");
}


function Add2textbox(textid,delim,value_id){
  var e;
  var feat='None';
  var op='None';
  var cols = document.getElementById(textid).innerHTML.split(delim);
  var i,cols2=[];
  var filter_value='None';
  if (value_id!='None'){
    filter_value=document.getElementById(value_id).value;  
  }
  
  if (filter_value==''){
    filter_value='None';
  }




  for (i = 0; i < cols.length; i++) {
          if(cols[i]!='' && cols[i]!=' ' && cols[i]!='  ' && cols[i]!='   '){
          cols2.push(cols[i]);
        }
      }

  


  var e = document.getElementById("id_TFeatures");
  var TFeature = e.options[e.selectedIndex].text;
  // e.selectedIndex = "0";
  if (TFeature!='None' && TFeature!='Select'){
    feat=TFeature;
  }

  var e = document.getElementById("id_feature_volume");
  var feature_volume = e.options[e.selectedIndex].text;
  if (feature_volume!='None' && feature_volume!='Select'){
    feat=feature_volume;
  }
  

  var e = document.getElementById("id_feature_perf");
  var feature_perf = e.options[e.selectedIndex].text;
  if (feature_perf!='None' && feature_perf!='Select'){
    feat=feature_perf;
  }

  var e = document.getElementById("id_feature_price");
  var feature_price = e.options[e.selectedIndex].text;
  if (feature_price!='None' && feature_price!='Select'){
    feat=feature_price;
  }

  var e = document.getElementById("id_feature_sma");
  var feature_sma = e.options[e.selectedIndex].text;
  if (feature_sma!='None' && feature_sma!='Select'){
    feat=feature_sma;
  }

  var e = document.getElementById("id_feature_trend");
  var feature_trend = e.options[e.selectedIndex].text;
  if (feature_trend!='None' && feature_trend!='Select'){
    feat=feature_trend;
  }

  var e = document.getElementById("id_feature_channel");
  var feature_channel = e.options[e.selectedIndex].text;
  if (feature_channel!='None' && feature_channel!='Select'){
    feat=feature_channel;
  }

  var e = document.getElementById("id_feature_pattcorr");
  var feature_pattcorr = e.options[e.selectedIndex].text;
  if (feature_pattcorr!='None' && feature_pattcorr!='Select'){
    feat=feature_pattcorr;
  }

  var e = document.getElementById("id_feature_cndlpatt");
  var feature_cndlpatt = e.options[e.selectedIndex].text;
  if (feature_cndlpatt!='None' && feature_cndlpatt!='Select'){
    feat=feature_cndlpatt;
  }

  var e = document.getElementById("id_feature_linearpatt");
  var feature_linearpatt = e.options[e.selectedIndex].text;
  if (feature_linearpatt!='None' && feature_linearpatt!='Select'){
    feat=feature_linearpatt;
  }

  var e = document.getElementById("id_feature_operations");
  var feature_operations = e.options[e.selectedIndex].text;
  if (feature_operations!='None' && feature_operations!='Select'){
    op=feature_operations;
  }



    if(textid=='SQLquery'){
      if(feat!='None' && op!='None' && filter_value!='None'){
        cols2[cols2.length]=feat+' '+op+' '+filter_value.toString();  
      }
   }

    if(textid=='columns'){
      if(feat!='None'){
        cols2[cols2.length]=feat;  
      }  
    }

  document.getElementById(textid).innerHTML=cols2.join(delim);

  document.getElementById("id_TFeatures").selectedIndex = "0";;
  document.getElementById("id_feature_volume").selectedIndex = "0";
  document.getElementById("id_feature_perf").selectedIndex = "0";
  document.getElementById("id_feature_price").selectedIndex = "0";
  document.getElementById("id_feature_sma").selectedIndex = "0";
  document.getElementById("id_feature_trend").selectedIndex = "0";
  document.getElementById("id_feature_channel").selectedIndex = "0";
  document.getElementById("id_feature_pattcorr").selectedIndex = "0";
  document.getElementById("id_feature_cndlpatt").selectedIndex = "0";
  document.getElementById("id_feature_linearpatt").selectedIndex = "0";
  document.getElementById("id_feature_operations").selectedIndex = "0";
  if (value_id!='None'){  
    document.getElementById(value_id).value='';
  }

}

function DelLastColm(textid,delim) {
  var cols = document.getElementById(textid).innerHTML.split(delim)
  var i,cols2=[];

  for (i = 0; i < cols.length-1; i++) {
      cols2.push(cols[i]);
  }
  document.getElementById(textid).innerHTML=cols2.join(delim)
  }

  // $( "#id_feature_volume" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_perf" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_price" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_sma" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_trend" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_channel" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_pattcorr" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_cndlpatt" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_feature_linearpatt" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_charts" ).change(  function(){ Add2Colms(this.id); });
  // $( "#id_TFeatures" ).change(  function(){ Add2Colms(this.id); });

 </script>


<script type="text/javascript">
  $( "#id_T_year" ).change(  function(){ document.getElementById("id_T0_year").selectedIndex=document.getElementById("id_T_year").selectedIndex; });
  $( "#id_T_month" ).change(  function(){ document.getElementById("id_T0_month").selectedIndex=document.getElementById("id_T_month").selectedIndex; });
  $( "#id_T_day" ).change(  function(){ document.getElementById("id_T0_day").selectedIndex=document.getElementById("id_T_day").selectedIndex; });

</script>
{% endblock %} 

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}