<!DOCTYPE html>

<head>
<!-- ############################################## -->
  {% block TITLE %}  {% endblock %} 

<!-- ############################################## -->
  {% block MAINHEAD %}
    <!--  -->
  {% endblock %}

<!-- ############################################## -->

  {% block HEADSCRIPTS %}
    <meta charset="utf-8">
    
    {% if context.use_d3_httplink %}  
      <script src="http://d3js.org/d3.v4.min.js"></script>
    {% endif %}

    {% if context.use_morris_httplink %}  
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    {% endif %}


  {% endblock %}

</head>


<body>
<!-- ############################################## -->  
  {% block BODY %}

 
  {% endblock %}

</body>
</html>