{% extends "homepage/base.html" %} 
{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block tabtitle %}  Research Compute Status {% endblock%}

{% block head %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script> -->
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="{% static 'research/jquery_chained/jquery.chained.js' %}" type="text/javascript" charset="utf-8"></script>


  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet"  href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
  <link rel="stylesheet" href="{% static 'research/tablesorter/themes/blue/style.css' %}" type="text/css" media="print, projection, screen" />
  <script type="text/javascript" src="{% static 'research/tablesorter/jquery.tablesorter.js' %}"></script> 



{% endblock %}




{% block title %}Research Compute Status{% endblock %}

{% block pagetitle %}Research Compute Status{% endblock %}

{% block pagemain %} 



 <p>Welcome, {{ user.get_username }}.</p>



<h2> Compute Status</h2>
  <!-- <div style="border-radius: 25px; border: 2px solid #73AD21; margin: 20px; padding: 20px;float: left;display:inline-block;"> -->
{{dAll}}
<!-- </div> -->



{% endblock %} 

{% block footer %} 

Copyright of Nagavenkat Adurthi

 {% endblock %}